body{ 
    color: #000000; 
    background-color:#FFFFFF; 
    font-family: Times, Arial, Cursive;
}

header {
background-color: rgb(216, 199, 44);
color: aquamarine;
color: inherit;
}



nav {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    color: rgb(129, 81, 81);
}

main {
background-color: #f2f2f2;
font-size: 18px;
}


li {
display: inline-block;
width: 150px;
text-align: center;
color: rgb(76, 180, 67);
}

h1 {
text-align: center;
font-family: Georgia, serif;
color: rgb(2, 2, 2);
}

p {
line-height: 1.5;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
background: rgb(88, 111, 240);
}

div {
background-color: rgb(225, 228, 37);    
}
