body {
font-family: Arial, sans-serif;
font-size: 16px;
}

header {
background-color: rgb(96, 223, 112);
}

nav {
background-color: #3b4988;
display: inline-block;
width: 80%;
}

/* Imagen SOLO dentro del nav */
nav img {
width: 10%;
position: relative;
top: 20px;
}

#img {
    width: 200px;

} 

/* GRID */
.grid {
display: grid;
grid-template-columns: 40% 40%;
justify-content: space-around;
align-items: center;
row-gap: 20px;
}

.grid img {
width: 50%;
}

/* FLEX */
.flex {
display: flex;
flex-wrap: wrap;
justify-content: space-around;
}

main {
background-color: #f2f2f2;
font-size: 18px;
}

footer {
background-color: #33346e;
}

/* LI COMENTADO */
/*
li {
display: inline-block;
padding: 4px;
}
*/

li a {
text-decoration: none;
color: black;
}

h1 {
text-align: center;
font-family: Georgia, serif;
color: darkred;
}

p {
line-height: 1.5;
}
